<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>
            <% if (page.title) { %>
                <%- page.title %> -
            <% } %>
            Luke Bonaccorsi
        </title>
        <link rel="preload" href="/css/pressstart2p-webfont.woff2" as="font" type="font/woff2">
        <link rel="stylesheet" href="/css/critical.css" critical="true" />
        <noscript id="deferred-styles">
            <link rel="stylesheet" href="/css/styles.css" />
        </noscript>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <%- open_graph({
            twitter_id: '@CodeFoodPixels',
            twitter_card: 'summary_large_image',
            image: (page.content && firstcontentimage(page.content)) || '/icon-512x512.png',
            description: page.excerpt ||
                (page.content && truncate(page.content, {length: 200, omission: '...'})) ||
                'Hi, I’m Luke. I’m a 28 year old self-taught web developer/software engineer currently living near Leeds, UK and working for Sky Betting & Gaming.'
        }) %>

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
        <meta name="apple-mobile-web-app-title" content="Luke Bonaccorsi">
        <meta name="application-name" content="Luke Bonaccorsi">
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="theme-color" content="#000000">
        <link rel="alternate" type="application/rss+xml" title="RSS Feed for lukeb.co.uk" href="/rss.xml" />
    </head>

    <body>
        <header class="header">
            <div class="header__background"></div>
            <div class="header__spaceship">
                <a href="<%- url_for() %>">
                    <img src="/img/spaceship.png" alt="spaceship, spaceship, SPACESHIP!" class="header__spaceship-image" />
                </a>
            </div>
            <div class="header__text">
                <a href="<%- url_for() %>" class="header__name">Luke Bonaccorsi</a>
                <div class="header__start js-start">Press Start</div>
            </div>
        </header>
        <nav class="nav">
            <div class="nav__content">
                <input type="checkbox" id="show-menu" class="nav__toggle-checkbox" role="button">
                <label for="show-menu" class="nav__item nav__toggle">Menu</label>
                <a href="<%- url_for() %>" class="nav__item">Blog</a>
                <a href="<%- url_for('/about/') %>" class="nav__item">About</a>
                <a href="<%- url_for('/projects/') %>" class="nav__item">Projects</a>
                <a href="https://github.com/CodeFoodPixels" class="nav__item" target="_blank" rel="external">GitHub</a>
                <a href="https://twitter.com/CodeFoodPixels" class="nav__item" target="_blank" rel="external">Twitter</a>
                <a href="<%- url_for('/rss.xml') %>" class="nav__item">RSS</a>
            </div>
        </nav>
        <main class="content">
            <%- body %>
        </main>
        <footer class="footer">
            <p>&copy; Luke Bonaccorsi 2017 - 2019</p>
            <p>
                <a href="https://github.com/lukeb-uk/website-hexo" target="_blank" rel="external">
                    View website source on GitHub
                </a>
            </p>
        </footer>
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', function() {
                    navigator.serviceWorker.register('/sw.js');
                });
            }
        </script>
        <script>
            function loadStyles() {
                var addStylesNode = document.getElementById('deferred-styles');
                var replacement = document.createElement('div');
                replacement.innerHTML = addStylesNode.textContent;
                document.body.appendChild(replacement)
                addStylesNode.parentElement.removeChild(addStylesNode);
            }

            function onload() {
                window.requestAnimationFrame(loadStyles);
            }

            window.addEventListener('load', onload);
        </script>
        <script defer type="text/javascript" src="/js/easter.js"></script>
        <img src="https://lukeb-emptyjar.glitch.me/ping.png" aria-hidden="true" alt="" height="0">
    </body>
</html>
